/*  MAIN CSS  */
html{

  height: 100%;
}
body{
    padding-left: 15%;
    padding-right: 15%;
    font-family: fantasy;
    
    height: 100%;
  }
  
  .header_box{
    text-align: center;
    margin-top: -40px;
  }
  .profils_box{
    width: 100%;
    height: auto;
  }
  .footer_box{
    text-align: center;
    background-color: rgba(8, 8, 8, 0.767);
    position: relative;
    bottom: 0; 
    left: 0; 
    right: 0;
    padding-left: 15%;
    padding-right: 15%;
    height: 8%;
    color: white;
    
  }
  
  .menu_nav {
    display: block;
    padding: 2em 0 3em;
    position: static;
    margin-top: 30px;
  }
  .menu_nav a {
    display: inline-block;
    margin: 0.5em;
    padding: 0.9em 1.1em;
    outline: none;
    border: 3px solid rgba(131, 131, 131, 0.3);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  table{
    border: 5px solid rgb(0, 0, 0);
    text-align: center;
  }
  td{
    border: 10px solid black;
  }
  



  


  #profils_box{
    background-color: rgba(219, 219, 219, 0.719);
  }
  @media screen and (max-width: 800px){
    a{
      font-size: 10px;
      
    }
    .menu_nav a{
      
      flex-flow : column wrap
    }
  }